<% if (errors) { %>
    <% errors.forEach((error) => { %>
        <% if (error.type) { %>
            <div class="alert alert-<%= error.type %> alert-dismissible fade show" role="alert">
    <% } else { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% } %>
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
    <% }) %>
<% } %>