html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Questrial', sans-serif !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.content-title {
    font-weight: 600;
    letter-spacing: 3px;
}

.main-home {
    margin-top: -3em;
    padding: 8.5em 0 !important;
}

.background-blue {
    background: url('../img/bg-blue.png');
    background-size: cover;
}

.background-red {
    background: url('../img/bg-red.png');
    background-size: cover;
}

.sans-13,
.site-nav {
    letter-spacing: 2px !important;
    text-transform: uppercase;
    font-size: 13px !important;
}

.site-nav a {
    letter-spacing: 4px !important;
    text-decoration: none;
    color: #aaa;
    transition: ease-in-out color .15s;
}

.site-nav a:hover {
    color: rgb(58, 58, 58);
}

.bg-light-f1 {
    background: #f1f1f1;
}

.nav-op {
    overflow: auto;
}

.nav-brand {
    padding: 0;
}

.nav-brand img {
    height: 30px;
    width: auto;
}

.footer-info .content {
    font-size: .89rem;
}

/* sm devices */
@media (max-width: 600px) {
    .footer-info .content {
        text-align: center;
    }

    .footer-icon {
        position: relative !important;
    }
}

/* md devices */
@media (max-width: 768px) {
    .main-home {
        margin-top: -6.5em;
    }

    .nav-op {
        height: 0;
    }

    .btn-menu {
        display: inline !important;
    }

    .ru-map {
        margin-top: 3em;
    }

    .footer-info {
        display: flex;
        align-items: center;
    }
}

.py-0-5 {
    padding: 0.5em 0;
}

.btn-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 1.2em;
    display: none;
}

.btn-menu:focus {
    outline: none;
}

.bg-dark-tr {
    background: rgba(0, 0, 0, 0.2);
}

.ls-3 {
    letter-spacing: 2px;
}

.ls-1 {
    letter-spacing: 1px;
}

.fas-sm {
    font-size: 12px;
}

.footer-icon {
    color: rgba(0, 0, 0, 0.6);
    padding-top: .4em;
    position: absolute;
    top: 0;
    left: 0;
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important
}

.menu-days li {
    cursor: pointer;
    transition: ease-in-out color .15s;
}

.menu-days li:hover {
    color: #aaa;
}

.op-80 {
    opacity: .8;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

#week-picker {
    cursor: pointer;
}

.datepicker table tbody tr:hover td {
    background-color: #eee;
    border-radius: 0;
}

.datepicker table tbody tr:hover td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.datepicker table tbody tr:hover td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.datepicker table tbody tr td.active {
    border-radius: 0;
}

.datepicker table tbody tr td.active:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.datepicker table tbody tr td.active:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}