<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../../partials/head %>
</head>

<body>
    <% include ../../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue text-uppercase" id="home">
        <h1 class="d-none">Adicionar Novo Prato - Administrador</h1>

        <div class="container">
            <% include ../../../partials/alerts %>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/profile" class="text-decoration-none">Perfil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Adicionar Prato</li>
                </ol>
            </nav>

            <div class="card shadow">
                <div class="card-header">
                    Adicionar Prato
                </div>
                <form action="" method="POST">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="username" class="sans-13">Nome</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-cookie-bite"></i></div>
                                    </div>
                                    <input id="name" type="text" class="form-control" name="name" autocomplete="off">
                                </div>
                                <small id="nameHelp" class="form-text text-muted">Nome do prato</small>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="username" class="sans-13">Tipo</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-carrot"></i></div>
                                    </div>
                                    <select data-live-search="true" class="form-control" id="intolerancesSelect" name="type">
                                        <option selected disabled>Selecione o tipo do prato</option>
                                        <option value="Carnívoro">Carnívoro</option>
                                        <option value="Vegetariano">Vegetariano</option>
                                        <option value="Acompanhamento">Acompanhamento</option>
                                        <option value="Sobremesa">Sobremesa</option>
                                        <option value="Bebida">Bebida</option>
                                    </select>
                                </div>
                                <small id="foodTypeHelp" class="form-text text-muted">Tipo do Alimento; Carne, Vegetariano, Suco</small>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="username" class="sans-13">Contaminação</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-allergies"></i></div>
                                    </div>
                                    <select multiple data-live-search="true" class="form-control" id="intolerancesSelect" name="intolerances[]">
                                        <% locals.intolerances.forEach((intolerance) => { %>
                                        <option value="<%= intolerance.food %>">
                                            <%= intolerance.food %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <small id="contaminationHelp" class="form-text text-muted">Intolerâncias que esse prato contém</small>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-primary form-control" type="input">Adicionar
                                    Prato</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <% include ../../../partials/footer %>
    <script src="/js/main.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>