<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <% include ../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue text-uppercase" id="home">
        <h1 class="d-none">Avaliar Pratos - Usuário</h1>

        <div class="container">
            <% include ../../partials/alerts %>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user" class="text-decoration-none">Perfil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Avaliar Prato</li>
                </ol>
            </nav>

            <div class="card shadow">
                <div class="card-header">
                    Avaliar Prato
                </div>
                <form action="" method="POST">
                    <div class="card-body">
                        <form action="" method="POST">
                            <!-- TODO: Terminar essa caralha -->
                        </form>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>


    <% include ../../partials/footer %>
    <script src="/js/main.js"></script>
</body>

</html>