<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../../partials/head %>
</head>

<body>
    <% include ../../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue text-uppercase" id="home">
        <h1 class="d-none">Adicionar Novo Menu - Administrador</h1>

        <div class="container">
            <% include ../../../partials/alerts %>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/profile" class="text-decoration-none">Perfil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Adicionar Menu</li>
                </ol>
            </nav>

            <div class="card shadow">
                <div class="card-header">
                    Adicionar Menu
                </div>
                <form action="" method="POST">
                    <div class="card-body">
                        <div class="col-lg-4 mb-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action active"
                                    id="list-intolerances-list" data-toggle="list" href="#list-monday" role="tab"
                                    aria-controls="monday">
                                    Segunda

                                    <span class="badge"><i class="fas fa-times"></i></span>
                                </a>

                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                    id="list-intolerances-list" data-toggle="list" href="#list-tuesday" role="tab"
                                    aria-controls="tuesday">
                                    Terça

                                    <span class="badge"><i class="fas fa-check"></i></span>
                                </a>
                            </div>

                            <!-- TODO: Resto -->
                        </div>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>


    <% include ../../../partials/footer %>
    <script src="/js/main.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>