<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../../partials/head %>
</head>

<body>
    <% include ../../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue text-uppercase" id="home">
        <h1 class="d-none">Adicionar Novo Menu - Administrador</h1>

        <div class="container">
            <% include ../../../partials/alerts %>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/profile" class="text-decoration-none">Perfil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Adicionar Menu</li>
                </ol>
            </nav>

            <div class="card shadow">
                <div class="card-header">
                    Adicionar Menu
                </div>
                <form action="" method="POST">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action active"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-monday"
                                        aria-controls="monday">
                                        Segunda

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-tuesday"
                                        aria-controls="tuesday">
                                        Terça

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-wednesday"
                                        aria-controls="wednesday">
                                        Quarta

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-thursday"
                                        aria-controls="thursday">
                                        Quinta

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-friday"
                                        aria-controls="friday">
                                        Sexta

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-saturday"
                                        aria-controls="saturday">
                                        Sábado

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>

                                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="list-intolerances-list" data-toggle="list" role="tab" href="#list-sunday"
                                        aria-controls="sunday">
                                        Domingo

                                        <span class="badge"><i class="fas fa-times"></i></span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="tab-content" id="nav-tabContent">

                                    <!-- Segunda -->
                                    <div class="table-responsive tab-pane fade show active" id="list-monday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Segunda
                                            </div>
                                            <div class="card-body">
                                                <div class="card mb-2">
                                                    <div class="card-header bg-white">
                                                        <i class="fas fa-sun mr-2"></i>
                                                        Almoço
                                                    </div>
                                                    <div class="card-body">
                                                        ok
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header bg-white">
                                                        <i class="fas fa-moon mr-2"></i>
                                                        Janta
                                                    </div>
                                                    <div class="card-body">
                                                        ok
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Terça -->
                                    <div class="table-responsive tab-pane fade show" id="list-tuesday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Terça
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Quarta -->
                                    <div class="table-responsive tab-pane fade show" id="list-wednesday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Quarta
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Quinta -->
                                    <div class="table-responsive tab-pane fade show" id="list-thursday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Quinta
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Sexta -->
                                    <div class="table-responsive tab-pane fade show" id="list-friday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Sexta
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Sábado -->
                                    <div class="table-responsive tab-pane fade show" id="list-saturday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Sábado
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Domingo -->
                                    <div class="table-responsive tab-pane fade show" id="list-sunday"
                                        role="tabpanel" aria-labelledby="list-home-list">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                Domingo
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </form>
            </div>
        </div>
    </div>


    <% include ../../../partials/footer %>
    <script src="/js/main.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/new-menu.js"></script>
</body>

</html>