<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/navbar %>

    <div class="container-fluid p-4 main-home background-red text-light" id="home">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 text-center text-uppercase">
                    <h1 class="page-title">Restaurante Universitário</h1>
                </div>
                <div class="col-sm-8">
                    <p class="px-4 pt-4 text-justify">
                        O Restaurante Universitário proporciona à comunidade universitária espaço de convivência,
                        integrando as ações
                        de educação, formação profissional, saúde, alimentação e lazer. Atende diariamente a 1400
                        comensais com almoço e jantar. As vagas disponíveis para almoço destinam-se a estudantes
                        regularmente matriculados e frequentes nos cursos de graduação da UFAL, observando-se as normas
                        estabelecidas nas resoluções vigentes. O jantar é oferecido para toda a comunidade acadêmica.
                    </p>
                    <p class="px-4 pb-4 text-justify">
                        Você pode criar uma conta de maneira simples e rápida em nosso site, aproveitando assim das
                        comodidades e praticidades de pagar suas refeições de maneira eletrônica, cadastre-se já.
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6 text-center">
                    <a href="/auth/registrar" class="btn btn-outline-light btn-lg sans-13 px-4">CRIE SUA CONTA</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light-f1">
        <br>
    </div>

    <div class="container-fluid bg-dark" id="menu">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <script src="/js/main.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>