<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container h-100">
        <form action="" method="POST">
            <div class="row">
                <div class="col-sm-12">
                    <label for="text">Usuário</label>
                    <input class="form-control" type="text" name="username" required autocomplete="off">
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="text">Senha</label>
                        <input class="form-control" type="password" name="password" required autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-primary form-control" type="submit" name="action">Cadastrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <% include ../partials/footer %>
</body>
</html>