<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/validation.css">
</head>

<body lang="pt-br">
    <% include ../partials/navbar %>
    <div class="video-container">
        <video id="preview" width="100%" height="100%"></video>
    </div>

    <script src="/js/jquery/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/instascan/instascan.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>
</body>

</html>