<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body lang="pt-br">
    <% include ../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue" id="home">
        <h1 class="d-none">Login Restaurante Universitário</h1>

        <div class="container text-uppercase">
            <% include ../partials/alerts %>
        </div>

        <div class="container text-uppercase">
            <div class="card shadow">
                <div class="card-header">
                    Validar Ficha
                </div>
                <div class="card-body">
                    <video id="preview"></video>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <script src="/js/instascan/instascan.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>
</body>

</html>