<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <% include ../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue" id="home">
        <h1 class="d-none">Perfil Restaurante Universitário - Administrador</h1>

        <div class="container text-uppercase">
            <% include ../../partials/alerts %>
        </div>

        <div class="container text-uppercase">
            <div class="card shadow">
                <div class="card-header">
                    Administração
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="list-group shadow-sm">
                                <a href="#" class="list-group-item list-group-item-action">Intolerâncias</i></a>
                                <a href="#" class="list-group-item list-group-item-action">Cardápio</a>
                                <a href="#" class="list-group-item list-group-item-action">Usuários</a>
                                <a href="#" class="list-group-item list-group-item-action">Administradores</a>
                                <a href="#" class="list-group-item list-group-item-action"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
    </div>



    <% include ../../partials/footer %>
    <script src="/js/main.js"></script>
</body>

</html>