<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/css/validation.css">
</head>

<body lang="pt-br">
    <% include ../../partials/navbar %>
    <div class="video-container">
        <video id="preview" width="100%" height="100%"></video>
    </div>

    <div class="container-fluid bg-primary qrcode-info-holder fixed-bottom shadow" id="status">
        <div class="row text-uppercase text-center font-weight-bold py-2">
            <div class="col-sm-12 ls-3" id="idle">
                Esperando Leitura
            </div>
            <div class="col-sm-12 ls-3" id="invalidUser" style="display: none;">
                Ticket Inválido
            </div>
            <div class="col-sm-12 ls-3" id="userInfo" style="display: none;">
                <div class="col-sm-12" id="userName">
                </div>
                <div class="col-sm-12">
                    <small id="userRegistration"></small>
                </div>
                <div class="col-sm-12">
                    <strong>R$ <span id="value"></span></strong>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/instascan/instascan.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>
</body>

</html>